.pager {
  display: flex;
  gap: .25em;
  justify-content: center;
}

.pager a,
.pager b,
.pager span {
  font: inherit;
  display: inline-flex;
  gap: .25em;
  padding: 0 .5em;
  text-decoration: none;
}

.pager a,
.pager a:focus,
.pager a:hover,
.pager a:active {
  background: #00f;
  color: #fff;
  cursor: pointer;
}

.pager a:focus,
.pager a:active {
  background: #f00;
}

.pager b {
  background: #000;
  color: #fff;
  cursor: not-allowed;
}

.pager > span {
  background: none;
  padding: 0;
}

.pager > span span {
  background: none;
  color: inherit;
}

.pager-title > span:first-child b::before,
.pager-title > span:first-child a::before {
  content: '\00AB\0020';
}

.pager-title > span:last-child b::after,
.pager-title > span:last-child a::after {
  content: '\0020\00BB';
}
