/* @pager */
.pager-step {
  display:block;
  line-height:1.75em;
}
.pager-step:after {
  content:"";
  display:table;
  clear:both;
}

/* @anchor */
.pager-step a,
.pager-step .a,
.pager-step .s {
  display:inline-block;
  vertical-align:middle;
  background:#000;
  color:#fff;
  padding:0 .5em;
  text-decoration:none;
}
.pager-step a,
.pager-step a:focus,
.pager-step a:hover,
.pager-step a:active {
  background:#00a;
  color:white;
  cursor:pointer;
}
.pager-step a:focus,
.pager-step a:active {background:#a00}
.pager-step .a {cursor:not-allowed}

/* @separator */
.pager-step .s {background:none}