.pager {
  // TODO
  &-page {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    a {
      &[aria-disabled='true'] {
        color: inherit;
        cursor: default;
        text-decoration: none;
      }
    }
  }
  &-peek {
    > span {
      display: flex;
      gap: 0.5em;
    }
    display: flex;
    gap: 1em;
    justify-content: space-between;
    a {
      &[aria-current='step'],
      &[aria-disabled='true'] {
        color: inherit;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}